	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container animated fadeIn">

		<ol class="breadcrumb">
			<li><a href="#/">Home</a></li>
			<li class="active">Reset Password</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Reset Password</h1>
				</header>
				
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Enter Registered Email ID</h3>
							<p style="color:red;"><em>* indicates Mandatory Fields</em></p>
							<hr>
							
							<div class="top-margin">
								<label>Registered Email <span class="text-danger">*</span></label>
								<input id="userId" type="text" class="form-control" ng-model="email" ng-change="testLoginName()" ng-required="true" autofocus>
								<span ng-show="loginEmailErr && email != undefined" style="color: red; font-size: 12px;">Invalid email address</span>
							</div>								
							
							<hr>

							<div layout-align="center" layout="row">
								<md-button class="md-raised md-warn" ng-href="#/login">Cancel</md-button>
								<md-button ng-click="forgot(email)" class="md-raised md-primary">Reset Password</md-button>
							</div>
							
						</div>
					</div>

				</div>
				
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Register new account</h3>
							<p class="text-center text-muted">Lorem ipsum dolor sit amet, <a href="signup.html">Register</a> adipisicing elit. Quo nulla quibusdam cum doloremque incidunt nemo sunt a tenetur omnis odio. </p>
							<hr>
							<a class="btn btn-action btn-block" href="#/register">Create an account</a>
														
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->