	<!-- Header Hero Section -->
	<header id="head">
		<div class="container animated fadeIn">
			<div class="row">
				<h1 class="lead">Lorem ipsum dolor sit amet</h1>
				<p class="tagline">consectetur adipisicing elit</p>
				<p><a class="btn btn-default btn-lg" ng-click="scrollTo('features')" role="button">MORE INFO</a> <a class="btn btn-action btn-lg" href="#/register" role="button">SIGNUP TODAY</a></p>
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center animated fadeIn">
		<br>
		<h2 class="thin">Welcome Title</h2>
		<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at augue odio. Praesent nisl est, ultricies vel risus in, venenatis placerat ante. Cras mauris dolor, rhoncus nec laoreet eget, auctor dictum purus. Pellentesque a est mattis eros finibus euismod quis ut massa. Vestibulum et libero tristique, consequat massa et, ultrices sem. Sed molestie, massa vel facilisis dapibus, dolor nibh interdum nisi, nec convallis lorem tellus condimentum orci. Fusce a nunc quis quam ullamcorper rhoncus at id arcu. Mauris interdum mollis laoreet. Duis est risus, gravida at augue a, blandit auctor justo. Donec iaculis fringilla lorem et facilisis. Aliquam erat volutpat. Nulla ut magna urna.</p>		
						
	</div>
	<!-- /Intro-->

	<div id="features"></div>

	<!-- Features -->
	<div class="full-bg-clr top-space">
		<div class="container animated fadeIn">
			
			<h3 class="text-center thin">Alias, excepturi, maiores, dolorem</h3>
			
			<div class="row">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>Feature 1</h4></div>
					<div class="h-body text-center">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aliquid adipisci aspernatur. Soluta quisquam dignissimos earum quasi voluptate. Amet, dignissimos, tenetur vitae dolor quam iusto assumenda hic reprehenderit?</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Feature 2</h4></div>
					<div class="h-body text-center">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, commodi, sequi quis ad fugit omnis cumque a libero error nesciunt molestiae repellat quos perferendis numquam quibusdam rerum repellendus laboriosam reprehenderit! </p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>Feature 3</h4></div>
					<div class="h-body text-center">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, vitae, perferendis, perspiciatis nobis voluptate quod illum soluta minima ipsam ratione quia numquam eveniet eum reprehenderit dolorem dicta nesciunt corporis?</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Feature 4</h4></div>
					<div class="h-body text-center">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, excepturi, maiores, dolorem quasi reprehenderit illo accusamus nulla minima repudiandae quas ducimus reiciendis odio sequi atque temporibus facere corporis eos expedita? </p>
					</div>
				</div>
			</div> <!-- /row  -->
		
		</div>
	</div>
	<!-- /Features -->

	<!-- container -->
	<div class="container animated fadeIn">

		<h2 class="text-center top-space">Frequently Asked Questions</h2>
		<br>

		<div class="row">
			<div class="col-sm-6">
				<h3>Eius consequatur nihil quibusdam?</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, excepturi, maiores, dolorem quasi reprehenderit illo accusamus nulla minima repudiandae quas ducimus reiciendis odio sequi atque temporibus facere corporis eos expedita.</p>
			</div>
			<div class="col-sm-6">
				<h3>Laborum, rerum, quis, inventore ipsa autem?</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, excepturi, maiores, dolorem quasi reprehenderit illo accusamus nulla minima repudiandae quas ducimus reiciendis odio sequi atque temporibus facere corporis eos expedita</p>
			</div>
		</div> <!-- /row -->

		<div class="row">
			<div class="col-sm-6">
				<h3>Temporibus facere distinctio quas adipisci?</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, excepturi, maiores, dolorem quasi reprehenderit illo accusamus nulla minima repudiandae quas ducimus reiciendis odio sequi atque temporibus facere corporis eos expedita.</p>
			</div>
			<div class="col-sm-6">
				<h3>Voluptate reprehenderit architecto sint libero?</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, excepturi, maiores, dolorem quasi reprehenderit illo accusamus nulla minima repudiandae quas ducimus reiciendis odio sequi atque temporibus facere corporis eos expedita.</p>
			</div>
			<p class="text-center"><a class="btn btn-primary btn-large  top-space">Learn more »</a></p>
		</div> <!-- /row -->		

	</div>	<!-- /container -->	
